<a href="https://colab.research.google.com/github/SanjeevKLH/Python-Full-Stack-Development/blob/main/lp_16_09_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_list_1 = [34, 56, 78, 90, 11, 23]

my_list_2 = [None] * len(my_list_1)

for i in range(0, len(my_list_1)):
   my_list_2[i] = my_list_1[i]

print("The list is : ")
for i in range(0, len(my_list_1)):
   print(my_list_1[i])

print()

print("The new list : ")
for i in range(0, len(my_list_2)):
   print(my_list_2[i])

The list is :
34
56
78
90
11
23

The new list :
34
56
78
90
11
23

In [14]:
dict1={1:"Tutorials",2:"Point",3:1116}
print("Dictionary 1",dict1)
dict2={1:"TutorialsPoint","TP":"DictionaryTutorial"}
print("Dictionary 2",dict2)

Dictionary 1 {1: 'Tutorials', 2: 'Point', 3: 1116}
Dictionary 2 {1: 'TutorialsPoint', 'TP': 'DictionaryTutorial'}

In [6]:
arr = [11, 11, 22, 22, 22, 33, 22, 33, 33, 44, 44, 44]
frequency = {}
for element in arr:
   if element in frequency:
      frequency[element] += 1
   else:
      frequency[element] = 1
for key, value in frequency.items():
   print(f"{key}: {value}")

11: 2
22: 4
33: 3
44: 3

In [11]:
arr = [1,2,3,4,5]
print(arr)

[1, 2, 3, 4, 5]

In [12]:
my_list = [1, 2, 5, 6, 8, 9, 3, 4, 8, 9, 1, 8]
print("The list is :")
print(my_list)
print("The duplicate elements in the list are : ")
for i in range(0, len(my_list)):
   for j in range(i+1, len(my_list)):
      if(my_list[i] == my_list[j]):
         print(my_list[j])

The list is :
[1, 2, 5, 6, 8, 9, 3, 4, 8, 9, 1, 8]
The duplicate elements in the list are :
1
8
8
9
8

In [13]:
my_list = [21, 32, 43, 54, 75]
print("The list is : ")
for i in range(0, len(my_list)):
   print(my_list[i])
print("The list after reversal is : ")
for i in range(len(my_list)-1, -1, -1):
   print(my_list[i])

The list is :
21
32
43
54
75
The list after reversal is :
75
54
43
32
21